<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.todoist.azai91</string>
	<key>connections</key>
	<dict>
		<key>0324E5BD-647D-403E-9059-F3ACBF834FA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE35AD43-CA4B-42FA-B020-FB2E41E3FEB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>32CD5947-52D0-4D5D-B544-23E45232A026</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD4E62A-2F09-4FC3-9D01-ACCB65CD5CE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9AD4E62A-2F09-4FC3-9D01-ACCB65CD5CE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2905D198-8253-4C24-A24C-F5C4C11A11FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E90080D1-1AD4-4707-8CFE-9E0D3295079D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0324E5BD-647D-403E-9059-F3ACBF834FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azai91</string>
	<key>description</key>
	<string>Quickly add tasks to Todoist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>from todoist_api import Todoist
import sys
try:
	Todoist.add_to_list("{query}")
	sys.stdout.write("{query}")
except:
	Todoist.open_auth_page()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0324E5BD-647D-403E-9059-F3ACBF834FA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>a</string>
				<key>text</key>
				<string>Add to Todoist</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E90080D1-1AD4-4707-8CFE-9E0D3295079D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>"{query}" added</string>
				<key>title</key>
				<string>Todoist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FE35AD43-CA4B-42FA-B020-FB2E41E3FEB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>as</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python todoist.py "{query}"</string>
				<key>title</key>
				<string>Add Account</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32CD5947-52D0-4D5D-B544-23E45232A026</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python todoist_launcher.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9AD4E62A-2F09-4FC3-9D01-ACCB65CD5CE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Todoist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2905D198-8253-4C24-A24C-F5C4C11A11FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0324E5BD-647D-403E-9059-F3ACBF834FA3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2905D198-8253-4C24-A24C-F5C4C11A11FF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>32CD5947-52D0-4D5D-B544-23E45232A026</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9AD4E62A-2F09-4FC3-9D01-ACCB65CD5CE1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E90080D1-1AD4-4707-8CFE-9E0D3295079D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>FE35AD43-CA4B-42FA-B020-FB2E41E3FEB0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
