<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.todoist.azai91</string>
	<key>connections</key>
	<dict>
		<key>881DB68F-A0F0-4FDD-806A-972C03596384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C83136F8-DFE1-47D7-974F-B7F067368FAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C83136F8-DFE1-47D7-974F-B7F067368FAA</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>azai91</string>
	<key>description</key>
	<string>Quickly add tasks to Todoist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python todoist.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C83136F8-DFE1-47D7-974F-B7F067368FAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>text</key>
				<string>Add item to Todist</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>881DB68F-A0F0-4FDD-806A-972C03596384</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>881DB68F-A0F0-4FDD-806A-972C03596384</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C83136F8-DFE1-47D7-974F-B7F067368FAA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
